// src/style/components/about.scss
@use "../base/mixins.scss" as mix;

.about {
    &__container {
    }

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 108px;
        align-items: center;
        @media (max-width: mix.em(1000)) {
            gap: 24px;
        }
    }

    &__btn-wrapper {
    }

    &__images {
        //max-width: 524px;
        //max-height: 557px;
        //width: 100%;
        //height: auto;
        overflow: hidden;
        //flex: 1;
    }

    &__img {
        //display: inline-block;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 240px;
        border-top-left-radius: 240px;
        border-top-right-radius: 100px;
        width: 100%;
        //aspect-ratio: 524/557;
        object-fit: cover;

        @media (max-width: mix.em(1000)) {
            // max-width: 50%;
        }
    }
    .section-title-wrap {
        display: grid;
        grid-template-columns: (1fr);
        //align-items: start;
        //flex: 1;
    }
    .section-title {
        // min-width: 100%;
        // width: 100%;
        margin-bottom: 42px;
    }
    .section-subtitle {
        margin-bottom: 28px;
    }
}
.section-title-wrap {
}

.button {
}
.button--fill {
}
