@use "../base/mixins.scss" as mix;

//header-new.scss

.header-new {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 100px;
        width: 190px;
        display: flex;
        align-items: center;
        overflow: hidden;
        //box-sizing: border-box;
        //padding: 8px;
    }
    &__logo-img {
        height: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    &__menu {
    }

    &__list {
        display: flex;
        gap: 40px;
    }

    &__item {
    }

    &__link {
    }

    &__contacts {
        display: flex;
        gap: 40px;
    }

    &__burger {
        display: none;
        font-family: "icomoon";
        ._icon-menu,
        ._icon-cross {
            color: red;
            font-size: 32px;
        }
        @media (max-width: mix.em(1200)) {
            display: block;
        }
    }
}
