@use "../base/mixins/grid.scss" as grid;

.test-components {
    &__container {
        @include grid.grid-4-columns(24px);
    }

    &__card {
        padding: var(--space-unit);
        border: 1px solid #000;
    }

    &__title {
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
    }

    &__subtitle {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
    }

    &__card-images {
        background-color: var(--color-bg-dark);
        height: var(--img-ratio-custom);
        height: var(--img-height-md);
        //height: 100%;
        width: 100%;
    }
    &__card-img {
    }

    &__card-text {
    }
}

.test777 {
    //какой то код
}
