@use "../base/mixins/grid.scss" as grid;

.test-components {
    &__container {
        @include grid.grid-3-columns(24px);
    }

    &__card {
        //text-align: center;
        background-color: transparent;
        border: 1px solid #000;
        text-shadow: var(--shadow-xs);
        padding: 12px;
    }

    &__title {
        font-family: var(--font-family-heading);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        color: var(--md-sys-color-secondary);
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: var(--font-size-xl);
    }

    &__card-img {
        width: 100%;
    }

    &__card-text {
        font-weight: var(--font-weight-light);
        font-size: var(--font-size-sm);
        color: var(--md-sys-color-secondary);
    }
}

.test777 {
    //какой то код
}
