@use "../base/mixins.scss" as mix;

.why-build {
    &__container {
    }

    &__card-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        justify-content: center;
        //margin-top: 100px;
        gap: 8px;
        @media (max-width: mix.em(660)) {
            grid-template-columns: repeat(auto-fit, minmax(310px, 350px));
        }
    }

    &__card {
        padding: 32px 24px 40px 24px;
        //max-width: 310px;
        width: 100%;
        text-align: center;
        border-radius: 40px;
        background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
    }

    &__images {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        border: 16px solid #232030;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    &__card-title {
        display: inline-block;
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-xl); // 24px
        border-bottom: 1px solid rgba(192, 183, 232, 0.33);
        //line-height: var(--line-height-loose);
        line-height: 170%;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &__card-text {
        margin-bottom: 36px;
        font-size: var(--font-size-xs);
        line-height: var(--line-height-loose);
    }
}
