---
import { Image } from 'astro:assets';

import bg01 from "@assets/images/content/bg-01.jpg";
import bg02 from "@assets/images/content/bg-02.jpg";
import bg03 from "@assets/images/content/bg-03.jpg";
---
<div class="test-components">
    <div class="test-components__container">
        <div class="test-components__card">
            <h3 class="test-components__title">Card Title</h3>
            <h4 class="test-components__subtitle">Card Subtitle</h4>
            <Image class="test-components__card-img" 
            src={bg01} alt="foto test-components" 
            width={366} 
            height={146} />
            <p class="test-components__card-text">Это изображение добавлено через встроенный Image </p>
        </div>
        <div class="test-components__card">
            <h3 class="test-components__title">Card Title</h3>
            <h4 class="test-components__subtitle">Card Subtitle</h4>
            <Image class="test-components__card-img" 
            src={bg02} alt="foto test-components" 
            width={366} 
            height={146} />
            <p class="test-components__card-text">Это изображение добавлено через встроенный Image </p>
        </div>
        <div class="test-components__card">
            <h3 class="test-components__title">Card Title</h3>
            <h4 class="test-components__subtitle">Card Subtitle</h4>
            <Image class="test-components__card-img" 
            src={bg03} alt="foto test-components" 
            width={366} 
            height={146} />
            <p class="test-components__card-text">Это изображение добавлено через встроенный Image </p>
        </div>
        
    </div>
    
</div>
