---
import Link from "../ui/Link.astro";

import "@styles/themes/v_01/_light.scss";
import "@styles/themes/v_01/_dark.scss";
import "@styles/base/_variables.scss";

---
<header class="header">
    <div class="header__container">
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu-item"><Link href="/">Главная</Link></li>
                <li class="header__menu-item"><Link href="/posts/">Посты</Link></li>
                <li class="header__menu-item"><Link href="/contacts/">Мои контакты</Link></li>
            </ul>
        </nav>
    </div>
</header>

<!--  -->
<style>
.header {
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
}
.header__container {
}
.header__nav {
}
.header__menu {
    display: flex;
    gap: 48px;
    justify-content: center;
    text-align: center;

}
.header__menu-item {
}
.header__menu-link {
}
</style>


