---
//import { Image } from 'astro:assets';

//import {MyImage} from "../assets/images/content/bg-01.jpg";
---
<div class="test-components">
    <div class="test-components__container">
        <div class="test-components__card">
            <h3 class="test-components__title">Card Title</h3>
            <h4 class="test-components__subtitle">Card Subtitle</h4>
            <img class="test-components__card-img" src="./images/bg-03.jpg" alt="foto test-components" width="366" height="146">
            <p class="test-components__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia, dolorem duci </p>
        </div>
        
    </div>
    
</div>
