---
import Header from "../components/partials/Header.astro";
import Footer from "../components/partials/Footer.astro";
const {frontmatter} = Astro.props;
---
<html lang="ru" class="light">
	<head>
		<meta charset="utf-8" />
		<title>{frontmatter.title}</title>
	</head>
<body class="wrapper">
	<Header />
		<article class="markdown__container page">
		<slot /> <!-- Сюда вставится содержимое .md -->
		</article>
	<Footer />
</body>
</html>