@use "./mixins.scss" as mix;
//
/* 
thin - 100
extralight - 200
light - 300
regular - 400 (normal)
medium - 500
semibold - 600
bold - 700
extrabold - 800
black - 900
*/
:root {
    // Шрифты
    --font-family-base: "Montserrat", system-ui, sans-serif; // Основной шрифт
    // Заголовки
    // Моноширинный шрифт
    //// Шрифт с засечками

    // Размеры шрифтов
    --font-size-base: 16px; // Базовый размер
    // 12px
    // 14px
    // 16px
    // 18px
    --font-size-xl: 24px; // 20px
    --font-size-xxl: 26px; // 24px
    // 32px
    // 48px (для крупных заголовков)

    // Начертания
    --font-weight-light: 300;
    ////--font-weight-bold: 700;
    //// Межстрочные интервалы
    --line-height-base: 1.3;
    // Межбуквенные интервалы
    // Основные цвета
    --color-primary: #110e71; // Основной цвет (синий)
    // При наведении
    // Вторичный цвет (серый)
    // Успех (зеленый)
    // Предупреждение (желтый)
    // Ошибка (красный)
    // Информация (голубой)

    // Текст
    --color-text: #e2dddd; // Основной текст
    // Основной текст
    // Светлый текст
    // Текст на темном фоне
    // Заголовки

    // Фоны
    // Основной фон
    // Вторичный фон
    --color-bg-dark: #343045; // Темный фон, например border
    // Заливка, иконки и прочие мелкие детали
    // Затемнение
    // Границы
    //// Базовая граница
    // Базовая граница
    // Темная граница
    // Светлая граница

    // Состояния
    // Фон при наведении
    // Фон при нажатии
    // Обводка при фокусе

    //
    //
    // Базовый размер (1rem = 16px)
    --space-unit: 1rem;

    // Отступы
    // 4px
    // 8px
    // 12px
    --space-md: 1rem; // 16px
    // 24px
    // 32px
    // 48px
    // 64px

    // Радиусы скругления
    // Размеры компонентов
    //===  Карточкм  =====================================================================================================================================================

    //===  Иконки  =====================================================================================================================================================

    /* Стандартные размеры */
    /* Дополнительно: */
    // закругления
    //===  Картинки  =====================================================================================================================================================

    --img-ratio-custom: 4/3; /* Универсальный (например, товары) */
    /* Ширина */
    /* Высота */
    --img-height-md: 300px;
    //===  Тени  =====================================================================================================================================================

    //использую
    //===  Анимация  =====================================================================================================================================================

    //===  Z-индексы  =====================================================================================================================================================

    //===  Брейкпоинты  =====================================================================================================================================================

    $breakpoint-sm-mobile: mix.em(479.98);
    $breakpoint-mobile: mix.em(575.98);
    $breakpoint-tablet: mix.em(767.98);
    $breakpoint-desktop: mix.em(991.98);
    $breakpoint-large: mix.em(1199.98);
    $breakpoint-xlarge: mix.em(1399.98);
    // Прочие переменные
    // Максимальная и минимальная ширина контента
    // Минимальная и максимальная высота
    // Прозрачность
    }
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1272;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 24;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: mix.em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: mix.em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: mix.em(767.98); // Телефоны L
$mobileSmall: mix.em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
//$responsiveType: 1;